# Introduction to Python - 2. List & NumPy

# 1. List

In [ ]:
# List kosong
list_1 = []

# List integer
list_nilai = [1,2,3,4,7]

# List dengan berbagai tipe data
list_campuran = [1, "Surabaya", 2.3, True]

In [ ]:
# List profesi dengan multi dimensi
list_profesi1 = [
                    ['Dokter', 'Perawat', 'Dosen'],
                    ['Polisi', 'Dokter', 'Barista'],
                    ['Dokter', 'Polisi', 'Koki']
                ]

# List profesi di dalam list ada list
list_profesi2 = [
                    ['Dosen', 
                     'Perawat', 
                     'Barista', 
                     ['Barista', 'Perawat']
                    ],
                    ['Polisi', 
                     'Koki']
                ]

In [ ]:
list_profesi1

In [ ]:
list_profesi1[0]

In [ ]:
list_profesi1[0][1]

#### Sistem Indeks List

Sistem indexing dimulai dari indeks 0, dan bisa diisi oleh tipe data apapun

| Slicing | Makna |
| --- | --- |
| `[:]` | Mengambil seluruh index, tiada batasan |
| `[n:]` | Mengambil dari index ke-n sampai index terakhir | 
| `[:m]` | Mengambil dari index pertama sampai index ke-m |
| `[n:m]` | Mengambil dari index ke-n hingga index ke-m |
| `[-1]` | Mengambil index terakhir |
| `[:-1]` | Mengambil index dari pertama sampai sebelum terakhir (selain index -1)|
| `[-1:]` | Mengambil index dari dari belakang (satu index)|

Adapun index dengan dua tanda `:` seperti `[::]`, yaitu:

<b> Double Slice Python </b>: 
`[start:end:step]`

| Slicing | Makna |
| --- | --- |
| `[::]` | Mengambil seluruh index, tiada batasan |
| `[n::]` | Mengambil dari index ke-n sampai index terakhir | 
| `[::o]` | Mengambil dari index pertama dengan lompat setiap o index |
| `[n::o]` | Mengambil dari index ke-n dengan lompat setiap o index |
| `[n:m:o]` | Mengambil dari index ke-n hingga ke-m, lompat setiap o index |
| `[::-1]` | Mengambil seluruh value dengan mengurutkan dari belakang |

**Menambahkan elemen pada list**

In [ ]:
profesi = ['Dokter', 'Perawat', 'Dosen']
profesi.append('Polisi')
profesi

In [ ]:
profesi.insert(2, 'Barista')
profesi

**Menghapus elemen pada list**

In [ ]:
profesi

In [ ]:
# Menghapus menggunakan del
del profesi[2]

# Tampilkan setelah dihapus
print(profesi)

In [ ]:
# Menghapus menggunakan .remove()

profesi.remove('Dosen')
profesi

## Challenge Time

### Nomor 1

Diberikan sebuah list 
`umur_user = [20, 22, 18, 21, 19]`

1. Tambahkan item baru pada list umur yaitu umur dari user baru: 23
2. Hapus item pada list umur yaitu umur dari user pertama

In [ ]:
# Jawab disini

### Nomor 2
Diberikan sebuah list 
`customer_id = ["A123", "A124", "B144", "C112", "B154", "C133"]`


1. Ada customer baru, tambahkan customer id tersebut yaitu "C135" ke dalam list customer_id (pada bagian belakang)
2. Hapus customer id "A123" karena sudah tidak aktif

In [ ]:
# Jawab disini

# 2. Operasi pada List

## A. Operasi List - Satuan dan Multipel

In [ ]:
# Penggabungan 2 List

supervised_ml = ["Logistic Regression", "SVM", "Random Forest"]
unsupervised_ml = ["KNN", "Clustering", "GMM"]

# Combination list 1 + list 2
machine_learning = supervised_ml + unsupervised_ml

# Result
print(machine_learning)

In [ ]:
# List 1
user_type = ["Fraud","Normal"]

# List Operation with *
print(user_type * 3)

## B. Operasi List - Aritmatika Dasar

In [ ]:
listku = [3,1,2,10,4]

In [ ]:
# Nilai minimal
print(min(listku))

In [ ]:
# Nilai maximal
print(max(listku))

In [ ]:
# Menjumlahkan semua elemen numerikal
print(sum(listku))

In [ ]:
# Banyaknya data dari semua elemen
print(len(listku))

In [ ]:
# Mengurutkan dari kecil ke besar
print(sorted(listku))

# 3. Pengenalan Tuple dan Set

## A. Tuple

In [ ]:
bilangan_genap = (2, 4, 6, 8 , 10)

print(type(bilangan_genap))
print(bilangan_genap)

In [ ]:
%%time

a = (1,2,3,4,5,6) * 10000 * 10000

In [ ]:
%%time

a = [1,2,3,4,5,6] * 10000 * 10000

## B. Set

In [ ]:
bilangan_ganjil = {1,5,3,9,11,7,1,1,1}

print(type(bilangan_ganjil))
print(bilangan_ganjil)

In [ ]:
negara = ["belanda","jepang","qatar","belanda","belanda",
          "jepang","jepang","saudi arabia","argentina","chile",
          "malaysia","belanda","belanda","jepang","belanda"]

# convert menjadi set
negara_2 = set(negara)

# kembalikan ke list
negara_final = list(negara_2)
print(negara_final)

# 4. Operasi pada Tuple dan Set

## A. Tuple

In [ ]:
data_tuple = (1,2,3,4)

In [ ]:
# Mendapatkan banyaknya objek
banyak_data_tuple = len(data_tuple)

print(f"Banyak data tuple: {banyak_data_tuple}")

In [ ]:
# Menyatukan dua tuple atau lebih
tuple2 = data_tuple + (5,6)
tuple3 = data_tuple + (5,6) + (7,8)

print(f"Menambah 2 tuple: {tuple2}")
print(f"Menambah 3 tuple: {tuple3}")

In [ ]:
# Melakukan repetisi elemen pada tuple
repetisi = 2
tuple4 = data_tuple * repetisi

print(f"Repetisi tuple sebanyak {repetisi} kali: {tuple4}")

In [ ]:
# Mengetahui elemen tertentu ada atau tidak didalam tuple
angka_yang_mau_dicek = 2
logika_tuple = 2 in data_tuple

print(f"Apakah angka {angka_yang_mau_dicek} ada di tuple: {logika_tuple}")

In [ ]:
# Slicing Tuple
sliced_tuple = data_tuple[1:3]

print(f"Tuple yang sudah dipotong: {sliced_tuple}")

## B. Set

In [ ]:
makanan = {"Bakso", "Soto","Mie Ayam"}

# Fungsi .add() menambahkan 1 value maksimal
makanan.add("Rendang")
print(makanan)

In [ ]:
makanan = {"Bakso", "Soto","Mie Ayam"}

# Fungsi .update() bisa lebih dari 1 value
makanan.update(["Rendang","Pecel Salmon"])
print(makanan)

## Challenge Time

Diberikan set `nama_user = {'Adi', 'Budi', 'Andi'}`

1. Tambahkan item baru pada set nama_user yaitu ‘Anton’
2. Hapus item pada set nama_user yaitu 'Budi'

In [ ]:
# Jawab disini

# 5. Pengenalan NumPy

In [ ]:
import numpy as np

In [ ]:
listku = [6,4,2,1]

type(listku)

In [ ]:
listku = [6,4,2,1]
listku2 = np.array(listku)

type(listku2)

In [ ]:
genap = (2,4,6,8,10)
ganjil = (1,3,5,7,9)

bilangan = np.array((genap,ganjil))
bilangan

In [ ]:
print(bilangan.shape)
print(bilangan.shape[0]) #baris
print(bilangan.shape[1]) #kolom

In [ ]:
np.array([1,6,3,6,1,2,6])

#### Membuat array

In [ ]:
#membuat array
list_nilai_kelas = np.array([[90,89,76,78,92,94,100]])
list_nilai_kelas

In [ ]:
#membuat array 2 dimensi
list_nilai_kelas_2d = np.array([ [90,89,76,78,92,94,100], 
                                 [98,82,73,78,92,94,89] ])
list_nilai_kelas_2d

## Challenge Time

Buatlah array 2 x 5 dari list berikut : 

```
umur 		 = [ 20, 23, 18, 19, 30]
nomor_sepatu  = [ 41, 42, 44, 39, 40]
```

Simpan array tersebut ke dalam object bernama challenge_array

print(challenge_array)

In [ ]:
# Jawab disini

# 6. Operasi Pada Numpy

#### Operasi dengan 1 Array

In [ ]:
#membuat array
list_nilai_kelas = np.array([65,90,89,76,78,92,94,90,100])

print(np.sum(list_nilai_kelas))    #menjumlahkan semua nilai pada elemen array
print(np.max(list_nilai_kelas))    #mencari nilai tertinggi pada array
print(np.min(list_nilai_kelas))    #mencari nilai terkecil pada array
print(np.mean(list_nilai_kelas))   #menghitung rataan semua nilai pada elemen array
print(np.median(list_nilai_kelas)) #menghitung nilai tengah semua nilai pada elemen array
print(np.log10(list_nilai_kelas))  #melakukan log10 pada setiap nilai pada element array
print(np.argmax(list_nilai_kelas)) #mengambil index dengan nilai terbesar dalam contoh ini index 7
                                   #dengan value 100 menjadi nilai terbesar
print(np.argmin(list_nilai_kelas)) #mengambil index dengan nilai terkecil dalam contoh ini index 0
                                   #dengan value 65 menjadi nilai terbesar
print(np.sort(list_nilai_kelas))   #mengurutkan array dari nilai terkecil ke yang terbesar

#### Reshape

In [ ]:
a = ['Ammar', 'Heru', 'Adit', 'Pras', 'Putri', 'Dara']
a = np.array(a)
a

In [ ]:
a = a.reshape((3, 2))
a

#### Operasi array dengan angka

In [ ]:
#membuat array
list_nilai = np.array([65,90,89,76,78,92,94,100])

print(list_nilai * 3)  #mengalikan semua element pada list nilai dengan 3
print(list_nilai / 2)  #membagi semua element pada list nilai dengan 2
print(list_nilai + 10) #menjumlahkan semua element pada list nilai dengan 10
print(list_nilai - 2)  #mengurangkan semua element pada list nilai dengan 2

*Berlaku untuk perhitungan matematika lain seperti pangkat dan lainnya*

In [ ]:
# Pertambahan ini berlaku untuk matrix juga (tidak hanya untuk vektor)

matrix = [[1,2],
          [3,4]]
matrix = np.array(matrix)

matrix2 = [[5,5],
           [5,5]]
matrix2 = np.array(matrix2)

print(matrix)
print(matrix2)

# Pertambahan matrix 1 dan matrix 2

#### Operasi array dengan array

In [ ]:
#membuat array
list_nilai1 = np.array([65,90,89,76,78,92,94,100])
list_nilai2 = np.array([1,2,3,4,5,6,7,8])

print(list_nilai1 * list_nilai2)  #mengalikan semua element pada list_nilai1 dengan list_nilai2
print(list_nilai1 / list_nilai2)  #membagi semua element pada list_nilai1 dengan list_nilai2
print(list_nilai1 + list_nilai2) #menjumlahkan semua element pada list_nilai1 dengan list_nilai2
print(list_nilai1 - list_nilai2)  #mengurangkan semua element pada list_nilai1 dengan list_nilai2

## Challenge Time
### Nomor 1

No 1. Buatlah array 3 x 3 dari list berikut : 


```
nilai_1		  = [ 80, 87, 91 ]
nilai_2		  = [ 77, 65, 75 ]
nilai_3		  = [ 59, 60, 47 ]
```

Simpan array tersebut ke dalam object bernama nilai

Dari array bernama nilai tersebut, ubahlah dimensinya menjadi dimensi 1.

Kemudian cek apakah mean (rata-rata) nya lebih besar dari pada median (nilai tengah) ?


Hint: Gunakan np.mean dan np.median
Gunakan kondisional untuk mengecek (boolean)

In [ ]:
# Jawab disini

### Nomor 2

Di toko A, dicatat pemasukan dan pengeluaran dari hari ke-1 hingga ke -5 dengan array2 ini:

Array item_terjual yang berisi `[3,4,5,2,7]`

Array biaya_pengeluaran (sudah termasuk modal) yang berisi `[20000, 22000, 25000, 15000, 46000]`

Lalu harga jual per item adalah **10000**

Soal: 

Carilah hari ke berapa toko tersebut mendapatkan keuntungan terbesar?
Cari total profit dari kelima hari hasil penjualan toko tersebut!

In [ ]:
# Jawab disini

# Thank you tetap Semangat Belajar Python